<footer
  class="bg-cardBackground text-textColor py-8 px-6 md:px-12 lg:px-20 mt-auto shadow-inner"
>
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center"
  >
    <div class="text-center md:text-left mb-4 md:mb-0">
      <p>
        &copy; {new Date().getFullYear()} h.dev. All rights reserved.
      </p>
      <p class="text-tertiary text-sm">Built with Astro & Tailwind CSS.</p>
    </div>
    <div class="flex space-x-6">
      <a
        href="#"
        class="text-textColor hover:text-tertiary transition-colors duration-200"
        >Privacy Policy</a
      >
      <a
        href="#"
        class="text-textColor hover:text-tertiary transition-colors duration-200"
        >Terms of Service</a
      >
    </div>
  </div>
</footer>
