---
import ThemeToggle from "./ThemeToggle.jsx";
import MobileNav from "./MobileNav.jsx";
---

<header
  class="relative z-20 flex justify-between items-center p-2 text-textColor bg-cardBackground shadow-default dark:shadow-dark-glow"
>
  <a href="/" class="flex items-center space-x-2">
    <img src="/bilder/logo.png" alt="h.dev Logo" class="h-20 w-20" />
    <span class="text-xl font-semibold text-headingColor">h.dev</span>
  </a>
  <nav class="hidden md:block">
    <ul class="flex space-x-6">
      <li><a href="/#home" class="hover:text-tertiary">Home</a></li>
      <li><a href="/#about" class="hover:text-tertiary">Über mich</a></li>
      <li><a href="/#projects" class="hover:text-tertiary">Projekte</a></li>
      <li><a href="/#contact" class="hover:text-tertiary">Kontakt</a></li>
    </ul>
  </nav>
  <div class="flex items-center md:hidden">
    <MobileNav client:idle />
    <ThemeToggle client:idle />
  </div>
  <div class="hidden md:block">
    <ThemeToggle client:idle />
  </div>
</header>
