---
import Nav from "../components/nav.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>h.dev</title>
  </head>
  <body
    class="min-h-screen bg-background text-textColor flex flex-col overflow-x-hidden"
  >
    {/* Globale Navigation & Seiten-Transition */}
    <Nav />
    <div
      id="app-content"
      class="transition-opacity duration-300 ease-out opacity-100"
    >
      {/* Seiteninhalt */}
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
